.button {
  min-width: 36px;
  min-height: 36px;
  padding: 6px;
  border-radius: 50%;
  box-shadow: -5px -5px 20px #212121, 5px 5px 20px #141414;
  fill: gray;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  
  .icon {
    transition: all 0.2s ease-in-out;
  }

  .iconDelete {
    transform: rotate(45deg);
  }
}
  
.button:hover {
  box-shadow: -2px -2px 5px #212121, 2px 2px 5px #141414;

  .iconAdd {
    fill: green;
  }

  .iconDelete {
    fill: red;
  }

  .iconDone {
    fill: yellow;
  }
}
  
.button:active {
  box-shadow: inset 1px 1px 2px #141414, inset -1px -1px 2px #212121;
}

.button:disabled {
  box-shadow: none;

  .iconDone {
    fill: lightslategray;
  }
}